body{
    margin: 0%;
    background-color: #328085;
}
header{
    
    background-color: blanchedalmond;
    height: 35px;
    
}

h1{
    margin:0px 0px 0px 0px ;
    margin-left: 5%;

    
}
#div1{
    margin-top: 70px;
    margin-left: 40%;
}
#hh1{
    color: aliceblue;
    margin-top: 10px;
    margin-left: 34%;
    text-decoration: double;
    

}
#a1{
    color: aliceblue;
    margin-top: 10px;
    margin-left: 40%;
    text-decoration: double;
    text-decoration: underline;
    font-size: 25px;
    

}#div2{
    margin-top: 70px;
    margin-left: 40%;
}
#hh2{
    color: aliceblue;
    margin-top: 10px;
    margin-left: 34%;
    text-decoration: double;
    

}
#a2{
    color: aliceblue;
    margin-top: 10px;
    margin-left: 40%;
    text-decoration: double;
    text-decoration: underline;
    font-size: 25px;
    

}
#div3{
    margin-top: 70px;
    margin-left: 40%;
}
#hh3{
    color: aliceblue;
    margin-top: 10px;
    margin-left: 34%;
    text-decoration: double;
    

}
#a3{
    color: aliceblue;
    margin-top: 10px;
    margin-left: 40%;
    text-decoration: double;
    text-decoration: underline;
    font-size: 25px;
    

}